# Random Module

In [1]:
import random

In [2]:
a = random.random() *5
round(a, 2)

1.29

In [3]:
love_score = random.randint(1,100)
print(f'your love score is {love_score}')

your love score is 78

# [Interactive Coding Exercise] Random Exercise
#Write your code below this line 👇

#Hint: Remember to import the random module first. 🎲

In [4]:
coin_toss = random.randint(0,1)
if coin_toss == 1:
    print('Heads')
else:
    print('Tails')

Tails

# Understanding the Offset and Appending Items to Lists
also known as a data structure

In [11]:
# states in the order they joined the union
states_of_america = ['Delaware', 'Pennsylvania', 'New Jersey', 'Georgia', 'Connecticut', 'Massachusetts', 'Maryland',
                     'South Carolina', 'New Hampshire', 'Virginia', 'New York', 'North Carolina', 'Rhode Island',
                     'Vermont', 'Kentucky', 'Tennessee', 'Ohio', 'Louisiana', 'Indiana', 'Mississippi', 'Illinois',
                     'Alabama', 'Maine', 'Missouri', 'Arkansas', 'Michigan', 'Florida', 'Texas', 'Iowa', 'Wisconsin', 
                     'California', 'Minnesota', 'Oregon', 'Kansas', 'West Virginia', 'Nevada', 'Nebraska', 'Colorado',
                     'North Dakota', 'South Dakota', 'Montana', 'Washington', 'Idaho', 'Wyoming', 'Utah', 'Oklahoma', 
                     'New Mexico', 'Arizona', 'Alaska', 'Hawaii']

In [12]:
states_of_america[25] # get the order of the states when they become part of the union

'Michigan'

In [13]:
states_of_america[-1]

'Hawaii'

In [18]:
states_of_america[1] = 'PA'

In [19]:
states_of_america

['Delaware',
 'PA',
 'New Jersey',
 'Georgia',
 'Connecticut',
 'Massachusetts',
 'Maryland',
 'South Carolina',
 'New Hampshire',
 'Virginia',
 'New York',
 'North Carolina',
 'Rhode Island',
 'Vermont',
 'Kentucky',
 'Tennessee',
 'Ohio',
 'Louisiana',
 'Indiana',
 'Mississippi',
 'Illinois',
 'Alabama',
 'Maine',
 'Missouri',
 'Arkansas',
 'Michigan',
 'Florida',
 'Texas',
 'Iowa',
 'Wisconsin',
 'California',
 'Minnesota',
 'Oregon',
 'Kansas',
 'West Virginia',
 'Nevada',
 'Nebraska',
 'Colorado',
 'North Dakota',
 'South Dakota',
 'Montana',
 'Washington',
 'Idaho',
 'Wyoming',
 'Utah',
 'Oklahoma',
 'New Mexico',
 'Arizona',
 'Alaska',
 'Hawaii']

In [20]:
states_of_america.append("mer see") # add to the end of the list

In [22]:
states_of_america[-1]

'mer see'

In [23]:
states_of_america.extend(['oh', 'no', 'what'])

In [26]:
states_of_america[-3:]

['oh', 'no', 'what']

# [Interactive Coding Exercise] Banker Roulette - 
Who will pay
the bill?

Hint
You might need the help of the len() function.

In [101]:
# Split string method
names_string = input("Give me everybody's names, separated by a comma. ")
names = names_string.split(", ")
# 🚨 Don't change the code above 👆

#Write your code below this line 👇

random_number = len(names)
pay_up = random.randint(0,random_number - 1)
print(f"{names[pay_up]} is going to pay the bill today!")
# Jacque, Lee, Trey, Courtney, Patricia

Give me everybody's names, separated by a comma. Jacque, Lee, Trey, Courtney, Patricia
Patricia is going to pay the bill today!

In [118]:
random.choice(names) # short cut but above is important to understand the concepts. !!!!! Super import

'Jacque'

# IndexErrors and Working with Nested Lists

In [119]:
len(states_of_america)

54

In [124]:
del states_of_america[-4:] # weird set up but ku ku ca chu

In [130]:
num_of_state = len(states_of_america)
num_of_state

50

In [131]:
states_of_america[num_of_state]

IndexError: list index out of range

***IndexError:*** is raised when attempting to retrieve an index from a sequence (e.g. list, tuple), and the index isn’t found in the sequence.

In [132]:
states_of_america[num_of_state - 1]

'Hawaii'

In [158]:
dirt_dozen = ["Strawberries", "Spinach", "Kale", "Nectarines", "Apples", "Grapes", "Peaches", "Cherries",
              "Pears", "Tomatoes", "Celery", "Potatoes"]
clean_dozen = ["Avocados", "Sweet corn", "Pineapples", "Cabbages", "Onions", "Sweet peas (frozen)", "Papayas",
               "Asparagus", "Mangoes", "Eggplants", "Honeydew melons", "Kiwi"]

big_list = [dirt_dozen, clean_dozen, [1,2,3]]
print(big_list)

[['Strawberries', 'Spinach', 'Kale', 'Nectarines', 'Apples', 'Grapes', 'Peaches', 'Cherries', 'Pears', 'Tomatoes', 'Celery', 'Potatoes'], ['Avocados', 'Sweet corn', 'Pineapples', 'Cabbages', 'Onions', 'Sweet peas (frozen)', 'Papayas', 'Asparagus', 'Mangoes', 'Eggplants', 'Honeydew melons', 'Kiwi'], [1, 2, 3]]

In [161]:
big_list[2][0] == "x"

False

# [Interactive Coding Exercise] Treasure Map
Your job is to write a program that allows you to mark a square on the map using a two-digit system

***Hint***
* Remember that Lists start at index 0!
* map is just a variable that contains a nested list. It's not related to the map function in Python.

***Personal Note***
This took me a while do to she made a remark that we put the columns first then the rows. 
I had started in pandas just to get some work stuff done quicker and came here to fully understand the basics to take me to the 
next level.

That said,
The best way to think about it is vertical and horizontal because the pandas libray uses rows first then columns. Once I got that down it was a piece of cake

In [172]:
# 🚨 Don't change the code below 👇
row1 = ["⬜️","⬜️","⬜️"]
row2 = ["⬜️","⬜️","⬜️"]
row3 = ["⬜️","⬜️","⬜️"]
map = [row1, row2, row3]
print(f"{row1}\n{row2}\n{row3}")
position = input("Where do you want to put the treasure? ")
# 🚨 Don't change the code above 👆

#Write your code below this row 👇

horizontal = int(position[0])
vertical = int(position[1])

map[vertical - 1][horizontal - 1]  = "X"




#Write your code above this row 👆

# 🚨 Don't change the code below 👇
print(f"{row1}\n{row2}\n{row3}")

['⬜️', '⬜️', '⬜️']
['⬜️', '⬜️', '⬜️']
['⬜️', '⬜️', '⬜️']
Where do you want to put the treasure? 13
['⬜️', '⬜️', '⬜️']
['⬜️', '⬜️', '⬜️']
['X', '⬜️', '⬜️']