# Python Primitive Data Types

In [1]:
print(len("Hello"))

5

In [2]:
print(len(12345))

TypeError: object of type 'int' has no len()

***TypeError:*** is raised whenever an operation is performed on an incorrect/unsupported object type.

In [4]:
print("hello"[0]) # get the first char of a string this is called subscripting

h

In [5]:
print("hello"[-1])

o

In [14]:
print("123" + "456") # string

123456

In [8]:
print(123 + 456)

579

In [13]:
123_456_789 # nice integer data type

123456789

In [12]:
3.145159 # float

3.145159

In [15]:
True or False # boolean data type

True

In [18]:
True and False # boolean data type

False

# Type Error, Type Checking and Type Conversion

In [20]:
num_char = len(input("What is your name?"))
print("your name is " + num_char + " characters")

What is your name?jacque

TypeError: can only concatenate str (not "int") to str

In [23]:
print(type(num_char)) # int data type. # type function will let us know the data type of a variable

<class 'int'>

In [25]:
num_char = len(input("What is your name? "))
print("your name is " + str(num_char) + " characters") # convet integer to a string usiig the str() function

What is your name? Jacque Trhan
your name is 12 characters

In [27]:
a = 123
type(a)

int

In [28]:
type(str(a))

str

In [29]:
b = float(123)

In [30]:
print(type(b))

<class 'float'>

In [33]:
print(70 + float(100.5))

170.5

In [34]:
print("70" + "100")

70100

# [Interactive Coding Exercise] Data Types
Take a two didgit input and add them together

In [40]:
# ðŸš¨ Don't change the code below ðŸ‘‡
two_digit_number = input("Type a two digit number: ")
# ðŸš¨ Don't change the code above ðŸ‘†

####################################
#Write your code below this line ðŸ‘‡
add_them_up = int(two_digit_number[0]) + int(two_digit_number[1]) # slicing slicing slicing. Remeber this!!!!!
add_them_up

Type a two digit number: 59

14

# Mathematical Operations in Python

In [45]:
3 +5 # additon

8

In [46]:
5 - 4 # subtraction

1

In [47]:
3 * 5 # Multiplication

15

In [48]:
8 / 4 # division

2.0

In [49]:
2 ** 4 # to the power of

16

##### PEMDASLR ^^^^^^^^ # LR is left to right
* () -first
* ** -second
* / * - third
*  "+ - - last"

In [54]:
print(3 * 3 + 3 / 3 - 3) # see code worked out here http://pythontutor.com/visualize.html#mode=edit

7.0

In [55]:
print(3 * ((3 + 3) / 3) - 3)

3.0

# [Interactive Coding Exercise] BMI Calculator

In [62]:
# ðŸš¨ Don't change the code below ðŸ‘‡
height = input("enter your height in m: ")
weight = input("enter your weight in kg: ")
# ðŸš¨ Don't change the code above ðŸ‘†

#Write your code below this line ðŸ‘‡

# BMI = kg/m*2
int(float(weight)/float(height)**2)

enter your height in m: 1.8288
enter your weight in kg: 72.575

21

***ValueError:*** raised when an operation or function receives an argument with an inappropriate value assigned to it

had to convert the string to a integer
tried to make an intger at first but we cant not make a string that resembles a float to an intger until we make the 
string a float first then make an int

# Number Manipulation and F Strings in Python

In [63]:
8/3

2.6666666666666665

In [65]:
round(8/3)

3

In [67]:
round(8/3, 2) # comma and a number of place to round number to

2.67

In [68]:
8//3 # floor division gets us just the quotant

2

In [69]:
type(8//2)

int

In [70]:
type(8/2)

float

In [77]:
score = 0
score += 1 # this mean score = score + 1
score

1

In [78]:
score *= 5
score

5

In [80]:
print(f'your score is {score}') # f strings are format strings. super awesome

your score is 5

In [81]:
score = 0
height = 1.8
isWinning = True

In [83]:
f"Your score is {score} and your height is {height}. Are we winnging? {isWinning}"

'Your score is 0 and your height is 1.8. Are we winnging? True'

# [Interactive Coding Exercise] Life in Weeks
Create a program using maths and f-Strings that tells us how many days, weeks, months we have left if we live until 90 years old.
* hint:
There are 365 days in a year, 52 weeks in a year and 12 months in a year.

In [86]:
# ðŸš¨ Don't change the code below ðŸ‘‡
age = input("What is your current age? ")
# ðŸš¨ Don't change the code above ðŸ‘†

#Write your code below this line ðŸ‘‡

days = (90 * 365)  -  int(age) * 365
weeks = (90 * 52)  -  int(age) * 52
months = (90 * 12) -  int(age) * 12





f'You have {days} days, {weeks} weeks, and {months} months left. '

What is your current age? 32

'You have 21170 days, 3016 weeks, and 696 months left. '