# Goal:
Do employee with more experience make more money?

In [3]:
import pandas as pd
import numpy as np

emp = pd.read_csv('../data/employee.csv', parse_dates=['hire_date'])
emp.head(3)

,title,dept,salary,race,gender,hire_date
0,POLICE OFFICER,Houston Police Department-HPD,45279.0,White,Male,2015-02-03
1,ENGINEER/OPERATOR,Houston Fire Department (HFD),63166.0,White,Male,1982-02-08
2,SENIOR POLICE OFFICER,Houston Police Department-HPD,66614.0,Black,Male,1984-11-26

# Calculate years of experience
approximation aka an estimate only. highest year is 2016 for this data set

In [7]:
emp['hire_date'].dt.year.max()

2016

In [9]:
emp['years_exp'] = 2016 - emp['hire_date'].dt.year
emp.head()

,title,dept,salary,race,gender,hire_date,years_exp
0,POLICE OFFICER,Houston Police Department-HPD,45279.0,White,Male,2015-02-03,1
1,ENGINEER/OPERATOR,Houston Fire Department (HFD),63166.0,White,Male,1982-02-08,34
2,SENIOR POLICE OFFICER,Houston Police Department-HPD,66614.0,Black,Male,1984-11-26,32
3,ENGINEER,Public Works & Engineering-PWE,71680.0,Asian,Male,2012-03-26,4
4,CARPENTER,Houston Airport System (HAS),42390.0,White,Male,2013-11-04,3

# Find the mean salary:
* for novice(less than 10 Yo#
* for senori(between 10 to 19 YoE)
* for veteran(20+ Yoe)

In [10]:
ye = emp['years_exp']

In [12]:
filt_novice = ye < 10
filt_senior = ye.between(10,19)
filt_vetean = ye >= 20

In [14]:
emp.loc[filt_novice, 'salary'].mean().round(-3)

47000.0

In [15]:
emp.loc[filt_senior, 'salary'].mean().round(-3)

59000.0

In [16]:
emp.loc[filt_vetean, 'salary'].mean().round(-3)

66000.0